{{with .Blocks}}
<div class="table-responsive">
<table class="table table-striped table-condensed" id="latest_blocks">
<thead>
<tr>
	<th>Order</th>
	<th>Height</th>
	<th>Hash</th>
	<th>Time</th>
	<th>Transactions</th>
	<th>Total MEER</th>
</tr>
</thead>
<tbody>
{{range .}}
<tr>
	<td>{{.BlockOrder}}</td>
	<td>{{.Height}}</td>
	<td><a href="/block/{{.Hash}}" class="hash">{{.Hash}}</a></td>
	<td>{{.BlockTime}}</td>
	<td>{{.TransactionsCount}}</td>
	<td>{{.Coinbase}}</td>
</tr>
{{end}}
</tbody>
</table>
</div>
{{end}}

<ul class="pager">
<li class="next">
<a href="/blocks/{{.LastHeight}}">More...</a>
</li>
</ul>